<div class="panel panel-default" style="margin-bottom: 0;">
    <div class="panel-heading">
        <a href="/news/{{ article.pk }}.html">
            <h3>{{ article.title }}</h3>
        </a>
    </div>
    <div class="panel-body">
        {% if article.image %}
        <img src="{{ article.image }}">
        {% endif %}
        <p>{{ article.text }}</p>
    </div>
    <div class="panel-footer">
        <p>{% if article.date %}Дата: {{ article.date  | date('d.m.Y') }}{% endif %}</p>
    </div>
</div>