{% extends 'Index.html' %}
{% block title %}Таблица новостей{% endblock title %}
{% block content %}
<div class="container">
    <h1>Таблица новостей</h1>
    <a href="/admin/news/form.html">
        <button class="btn btn-sm btn-success pull-right">Добавить новость</button>
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>ID Новости</th>
            <th>Заголовок</th>
            <th>Дата публикации</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for article in news %}
        <tr>
            <td>{{ article.__id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.date }}</td>
            <td>
                <a href="/admin/news/delete/{{ article.__id }}.html">
                    <button class="btn btn-sm btn-danger pull-right">Удалить</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}