{% extends 'Index.html' %}
{% block title %}Таблица новостей{% endblock title %}
{% block content %}
<div class="container">
    <h1>Таблица новостей</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID Новости</th>
            <th>Заголовок</th>
            <th>Дата публикации</th>
            <th>
                <a href="/admin/news/edit.html">
                    <button class="btn btn-sm btn-success pull-right">Добавить новость</button>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for article in news %}
        <tr>
            <td>{{ article.__id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.date  | date('d.m.Y') }}</td>
            <td>
                <div class="pull-right">
                    <a href="/admin/news/edit/{{ article.__id }}.html">
                        <button class="btn btn-sm btn-primary">Редактировать</button>
                    </a>
                    <a href="/admin/news/delete/{{ article.__id }}.html">
                        <button class="btn btn-sm btn-danger">Удалить</button>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}